<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      .nav-link.active {
          background-color:#6b0202;
          color: #fff !important;
          border-radius: 0.25rem;
      }
      .small-popup {
            width: 150px; /* Ajusta el ancho */
        }
  </style>
</head>
 
<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgb(74, 133, 172);">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-light fw-light" href="/home">
                      <i class="fas fas fa-home"></i>
                  </a>
              </li>
          </ul>
      </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/comunidades/">Comunidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/docentes/">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/horarios/">Horarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/eventos/">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/carreras/">Carreras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/formatos2/">Formatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/procesos/">Procesos Académicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/perfil_scholar/">Perfil Académico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-6" href="/usuarios/">Usuarios</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light fw-light" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
  <nav class="navbar" style="background-color:#424242; color: #ffffff;">
    <div class="d-flex justify-content-around">
        <img src="https://i.ibb.co/2MkzN5x/logo-ULEAM-2017-horizontal-blanco.png" style="height: 4rem;">
    </div>
    <div class="d-flex justify-content-end">
        <section>
            {% if session['usuario_nombre'] %}
                <label style="text-decoration: none; color: #ffffff; margin-right: 20px;">Hola, {{ session['usuario_nombre'] }}!</label>
            {% else %}
                <p style="margin-right: 10px;">Bienvenido!</p>
            {% endif %}
        </section>
    </div>
  </nav>
  <div class="row align-self-center">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <label for="" style="color:#b82323" class="fs-3 fw-semibold">Creación de Administradores</label>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="p-3"></div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="container">
        <div class="container" style="border: 1px solid rgba(0, 0, 0, 0.2)">
          <div class="row bg-light p-2" style="border: 1px solid rgba(0, 0, 0, 0.2); border-top: none; border-right: none; border-left: none;">
            <label style="color: rgb(165, 57, 38); font-family: Georgia, 'Times New Roman', Times, serif" class="fs-5 fw-bold">Agregar administrador</label>
          </div>
          <form id="usuarioForm" class="p-2">
            <div class="row">
              <div class="col-6">

                <label for="nombres" class="form-label fs-6" style="color: #3d1214">Nombres:</label><br>
                <input type="text" id="nombres" class="form-control" name="nombres" aria-describedby="passwordHelpBlock">
                <div id="" class="form-text">Ingresa los nombres respectivos del encargado administrador</div>
                
                <label for="apellidos" class="form-label fs-6" style="color: #3d1214">Apellidos:</label><br>
                <input type="text" id="apellidos" class="form-control" name="apellidos" aria-describedby="passwordHelpBlock">
                <div id="" class="form-text">Ingresa los Apellidos respectivos del encargado administrador</div>

              </div>
              <div class="col-6">

                  <label for="correo" class="form-label fs-6" style="color: #3d1214">Correo:</label><br>
                  <input type="text" id="correo" class="form-control" name="correo" aria-describedby="passwordHelpBlock">
                  <div id="" class="form-text">
                    Puede ser Correo personal, de gmail o institucional 
                  </div>

                    <label for="contrasenia" class="form-label fs-6" style="color: #3d1214">Contraseña:</label><br>
                    <div class="password-container">
                        <input type="password" id="contrasenia" class="form-control" name="contrasenia" aria-describedby="passwordHelpBlock">
                        <i class="far fa-eye toggle-password" id="togglePassword"></i>
                    </div>
                    <div id="passwordHelpBlock" class="form-text">
                        Contraseña para inicio de sesión
                    </div>

              </div>
            </div>
            <div class="row">
              <div class="col-10"></div>
              <div class="col-2">
                <button type="submit" class="btn btn-outline-primary">Añadir</button>
              </div>
            </div>
          </form>
        </div>                
      </div>                
    </div>
    <div class="p-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="container">
        <div class="container" style="border: 1px solid rgba(0, 0, 0, 0.2); text-align: center;">
          <div class="row bg-light p-2" style="border: 1px solid rgba(0, 0, 0, 0.2); border-top: none; border-right: none; border-left: none;">
            <label style="color: rgb(165, 57, 38); font-family: Georgia, 'Times New Roman', Times, serif" class="fs-5 fw-bold">Lista de Administradores</label>
          </div>
          <table class="table table-striped" id="tablaUsuarios">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo </th>
                
 
              </tr>
            </thead>
            <tbody>
              <!-- Filas de la tabla se añadirán aquí -->
            </tbody>
          </table>
        </div>                
      </div>
      <div class="p-4"></div>
    </div>
  </div>
</body>
  <script>
    document.getElementById("usuarioForm").addEventListener("submit", function(event) {
          event.preventDefault(); // Evita que se envíe el formulario de manera tradicional
          var email = document.getElementById("correo").value.trim(); // Obtener el valor del campo de correo electrónico
          if (!email.includes("@")) {
            Swal.fire({
                title: 'Error',
                text: 'Por favor, ingresa un correo electrónico válido.',
                icon: 'error',
                showConfirmButton: false,
                timer: 2000,  // Tiempo en milisegundos (2 segundos)
            });
            return; // Detener el envío del formulario si la validación falla
          }
          
          var formData = new FormData(this); // Obtiene los datos del formulario

          // Realiza una solicitud PUT al servidor Flask
          fetch("/agregar/usuario", {
              method: "PUT",
              headers: {
                  "Content-Type": "application/json" // Cambia el tipo de contenido a application/json
              },
              body: JSON.stringify(Object.fromEntries(formData)) // Convertir los datos del formulario a un objeto y luego a JSON
          })
          .then(response => response.json())
          .then(data => {
            if (data.success){
              Swal.fire({
              position: "top-end",
              title: '¡Éxito!',
              icon: 'success',
              timer: 550,  // Tiempo en milisegundos (3 segundos)
              showConfirmButton: false,
              customClass: {
              popup: 'small-popup' // Define la clase personalizada para el popup
            }
            }).then(() => {
                document.getElementById("usuarioForm").reset(); // Resetear el formulario
                cargarUsuarios(); // Recargar la lista de comunidades
            });   
            } else {
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1000,  // Tiempo en milisegundos (3 segundos)
                });
        }  
              
              
          })
          .catch(error => {
              
            Swal.fire({
            title: 'Advertencia',
            text: 'Ha ocurrido un error en la petición. ',
            icon: 'warning',
            showConfirmButton: false,
            timer: 1000,  // Tiempo en milisegundos (3 segundos)

        });    

          });
      });
      
    function cargarUsuarios() {
    fetch('/api/usuarios')
        .then(response => response.json())
        .then(data => {
            const usuarios = data.usuarios;
            const tablaUsuarios = document.querySelector('#tablaUsuarios tbody');
            tablaUsuarios.innerHTML = ''; // Limpiar la tabla existente
            let contador = 1;
            usuarios.forEach(usuario => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${contador}</td>
                    <td>${usuario.nombres}</td>
                    <td>${usuario.apellidos}</td>
                    <td>${usuario.correo}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="eliminarUsuario('${usuario._id}')">Eliminar</button>
                    </td>
                `;
                contador++;
                tablaUsuarios.appendChild(tr);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
    function eliminarUsuario(id) {
        fetch("/eliminar/usuario/" + encodeURIComponent(id), {
            method: "DELETE"
        })
        .then(response => response.json())
        .then(data => {
          if (data.success){
            Swal.fire({
            position: "top-end",
            title: '¡Éxito!',
            icon: 'success',
            timer: 550,  // Tiempo en milisegundos (3 segundos)
            showConfirmButton: false,
            customClass: {
            popup: 'small-popup' // Define la clase personalizada para el popup
            }
            }).then(() => {
              cargarUsuarios(); // Recargar la lista de comunidades
            });   
          } else {
            Swal.fire({
                title: 'Error',
                text: data.message,
                icon: 'error',
                showConfirmButton: false,
                timer: 1000,  // Tiempo en milisegundos (3 segundos)
            });
        }  
        })
        .catch(error => {
          Swal.fire({
            title: 'Advertencia',
            text: 'Ha ocurrido un error en la petición. ',
            icon: 'warning',
            showConfirmButton: false,
            timer: 1000,  // Tiempo en milisegundos (3 segundos)

        });    
        });
    }
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        const passwordInput = document.getElementById('contrasenia');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
    document.addEventListener('DOMContentLoaded', function() {
      cargarUsuarios();

});
document.addEventListener("DOMContentLoaded", function () {
        const currentLocation = window.location.pathname;
        const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentLocation) {
                link.classList.add('active');
            }
        });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMN8fD3pG5tlw2gmrA6mMs6Yb9O95AGbGSZE3uWtiM9PAmRtyzuw1ou8FxtgwnL7" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-QWV1mDzWCF58lgwZNQZelQqEDeNFn6ZoFEfnF51+PQsB7xZFtjglF8ZxgOT5F8ks" crossorigin="anonymous"></script>
</body>
</script>

<style>
  .password-container {
      position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"] {
      padding-right: 30px; /* Espacio para el icono */
  }
  .password-container .toggle-password {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
  }
</style>